<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [value]="session?.user?.email"></ion-input>
    </ion-item>

   

    <ion-item>
      <ion-label position="stacked">Full name</ion-label>
      <ion-input
        type="url"
        name="first_name"
        [(ngModel)]="profile.fullname"
      ></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <ion-button fill="clear" (click)="updateProfile()"
        >Update Profile</ion-button
      >
    </div>
  </form>

  <div class="ion-text-center">
    <ion-button fill="clear" (click)="signOut()">Log Out</ion-button>
  </div>
</ion-content>