.cs{
    margin-left: 20px;
    display: block;
    
}
.cs-text{
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    
}
.img{
    border-radius: 15px;
    height: fit-content;
}