<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">
      RIPEDODO
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Surf for Movies, Tv-shows" [(ngModel)]="filterTerm"  animated="true" ></ion-searchbar>
  <ion-list *ngIf="filterTerm !== ''">

    <ion-item *ngFor="let movie of Movies | filter:filterTerm " [routerLink]="['/', 'movie', movie._id]" routerDirection="forward">
      <ion-avatar slot="start">
        <img alt="Movie Image" [src]="movie.movieposter" />
      </ion-avatar>
      <ion-label style="text-transform: uppercase;">
        {{movie.movietitle}}
      </ion-label>
    </ion-item>
    
 
  </ion-list>
  <div class="f-box" *ngIf="filterTerm == ''">
    <div class="box b-0" [routerLink]="['/', 'categories', 'Action']" >
      <h4>
        Action
      </h4>
    </div>
    <div class="box b-1" [routerLink]="['/', 'categories', 'Adventure']">
      <h4>
        Adventures
      </h4>
    </div>
    <div class="box b-2" [routerLink]="['/', 'categories', 'Romance']">
      <h4>
        Romance
      </h4>
    </div>
    <div class="box b-3" [routerLink]="['/', 'categories', 'Comedy']">
      <h4>
        Comedy
      </h4>
    </div>
    <div class="box b-4" [routerLink]="['/', 'categories', 'Drama']">
      <h4>
        Drama
      </h4>
    </div> 
    <div class="box b-5" [routerLink]="['/', 'categories', 'Thriller']">
      <h4>
        Triller
      </h4>
    </div>
    <div class="box b-6" [routerLink]="['/', 'categories', 'Crime']">
      <h4>
        Crime
      </h4>
    </div>
    <div class="box b-7" [routerLink]="['/', 'categories', 'Sci-Fi']">
      <h4>
        Sci-Fi
      </h4>
    </div>
  </div>

</ion-content>