<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm"  animated="true" ></ion-searchbar>
  <ion-list>
   
    <ion-item *ngFor="let movie of Movies | filter:filterTerm ">
      <ion-label>{{movie.movietitle}}</ion-label>
      <!-- <ion-label>{{movie._id}}</ion-label>
     <ion-label>{{movie.movieurl}}</ion-label> -->

    </ion-item>
 
  </ion-list>


  
</ion-content>