.img-figcaption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bolder;
font-style: 20px;
color: blueviolet;
text-transform: uppercase;
}

@media  screen  and (min-width:768px  ) {
    .img-figcaption{
    font-weight: bolder;
    font-style: 40px;
   
    }
}