
<ion-content [fullscreen]="true">
	
	
	<ion-grid>
		<ion-row>
		  
		  <ion-col>
			<div class="ion-text-center ">
				<ion-text color="primary">
					<h4 style="font-weight: bold;">MOVIES</h4>
				  </ion-text>
			</div>
		  </ion-col>
		</ion-row>
	  </ion-grid>
   <section class="w3l-grids">
	
		<div class="grids-main ">
			
			<div class="container py-lg-3">
				
				<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2 ">
						<div class="col-7 col-lg-3 col-md-4 box16 " *ngFor="let movie of MoviesOnly" [routerLink]="['/', 'movie', movie._id]">
							<a >
								<figure>
									<img class="img-fluid" [src]="movie.movieposter" *ngIf="movie.movieposter != 'N/A'"alt="" loading="lazy">
								</figure>
								<div class="box-content" >
									<h3 class="title">{{movie.movietitle}}</h3>
									<!-- <h4> <span class="post"><span class="fa fa-clock-o"> </span> {{movie.movieruntime}}

										</span>

									</h4> -->
								</div>
								<!-- <span class="fa fa-play video-icon" aria-hidden="true"></span> -->
							</a>
						</div>
					
					
					
				</div>
			</div>
		</div>
	</section> 
	<ion-grid>
		<ion-row>
		  
		  <ion-col>
			<div class="ion-text-center ">
				<ion-text color="primary">
					<h4 style="font-weight: bold;">TV SHOWS</h4>
				  </ion-text>
			</div>
		  </ion-col>
		</ion-row>
	  </ion-grid>
<section class="w3l-grids">
	<div class="grids-main ">
		<div class="container py-lg-3">
			
			<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2 ">
					<div class="col-7 col-lg-3 col-md-4 box16 " *ngFor="let tvshow of Tvshows " [routerLink]="['/', 'movie', tvshow._id]">
						<a >
							<figure>
								<img class="img-fluid" [src]="tvshow.movieposter" *ngIf="tvshow.movieposter != 'N/A'"alt="">
							</figure>
							<div class="box-content" >
								<h3 class="title">{{tvshow.movietitle}}</h3>
								<!-- <h4> <span class="post"><span class="fa fa-clock-o"> </span> {{tvshow.movieruntime}}

									</span>

								</h4> -->
							</div>
							<!-- <span class="fa fa-play video-icon" aria-hidden="true"></span> -->
						</a>
					</div>
				
				
				
			</div>
		</div>
	</div>
</section>
</ion-content>