<ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-title class="ion-text-center" color="primary">
		RIPEDODO
	  </ion-title>
	</ion-toolbar>
  </ion-header>
  
  
<ion-content [fullscreen]="true">


			<div class="ion-text-center " >
				<ion-slides
  [pager]="true"
  [scrollbar]="true"
  [options]="options"

  (ionSlideWillChange)="slideWillChange()"
  (ionSlideDidChange)="slideDidChange()"

  #slidesRef
  style="height: 250px; width: 100%; "
  >

	<ion-slide  style="border-radius: 20px;" *ngFor="let movie of Movies" >
		<figure  style="border-radius: 20px;" >
			<img class="img-fig" height="250px;"  style="border-radius: 20px;"  [src]="movie.movieposter" *ngIf="movie.movieposter != 'N/A'"alt="" loading="lazy" >
		  </figure>	
	</ion-slide>

  
  
</ion-slides>
			</div>

		
	 

	<ion-grid>
		<ion-row>
		  
		  <ion-col>
			<div class="ion-text-center ">
				<ion-text color="primary">
					<h4 style="font-weight: bold;">MOVIES</h4>
				  </ion-text>
			</div>
		  </ion-col>
		</ion-row>
		<ion-row class="ion-align-items-center scrolling-wrapper flex-row flex-nowrap">
			<ion-col size="4"  class="fig-col" *ngFor="let movie of MoviesOnly" [routerLink]="['/', 'movie', movie._id]">
			  <figure>
				<img class="img-fig"  [src]="movie.movieposter" *ngIf="movie.movieposter != 'N/A'"alt="" loading="eager">
				<!-- <figcaption class="img-figcaption">{{genre.movietitle}}</figcaption> -->
			  </figure>
			  <p></p>
			</ion-col>
			
		  </ion-row>
	  </ion-grid>
  
	<ion-grid>
		<ion-row>
		  
		  <ion-col>
			<div class="ion-text-center ">
				<ion-text color="primary">
					<h4 style="font-weight: bold;">TV SHOWS</h4>
				  </ion-text>
			</div>
		  </ion-col>
		</ion-row>
		<ion-row class="ion-align-items-center scrolling-wrapper flex-row flex-nowrap">
			<ion-col size="4"  class="fig-col" *ngFor="let tvshow of Tvshows" [routerLink]="['/', 'movie', tvshow._id]">
			  <figure>
				<img class="img-fig"  [src]="tvshow.movieposter" *ngIf="tvshow.movieposter != 'N/A'"alt="" loading="lazy">
				<!-- <figcaption class="img-figcaption">{{genre.movietitle}}</figcaption> -->
			  </figure>
			  <p></p>
			</ion-col>
			
		  </ion-row>
	  </ion-grid>
</ion-content>