.scrolling-wrapper{
    overflow-x: auto;
    }
    
    
    
    h1{
    font-weight: 700;
    font-size: 3.4em;
    }
    
    .subtitle{
    font-size: 1.25em;
    opacity: 0.65;
    }
    
    .card-block{
    height: 300px;
    background-color: rgb(40, 107, 25);
    border: none;
    background-position: center;
    }

   