<ion-content>
    <ion-grid>
         <ion-row>
          <!--  <ion-col>
                <ion-textarea rows="5" [(ngModel)]="videoUrl" placeholder="Enter Video Url"></ion-textarea>
            </ion-col>
        </ion-row> <br/>
        <ion-row> -->
            <ion-col>
                <ion-button (click)="streamVideo()" expand="full">stream video</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="playVideo()" expand="full">play video</ion-button>
            </ion-col>
        </ion-row> 
    </ion-grid>
</ion-content>