

<ion-content [fullscreen]="true">

  <!-- <div class="text-center">
      <div class="spinner-grow text-danger m-5 " style="width: 20rem; height: 20rem;" role="status">
          <span class="sr-only">DODO</span>
        </div>
      </div> -->
<!-- header -->
<header id="site-header" class="w3l-header fixed-top">
<!--/nav-->
<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
    <div class="container">
        <h1><a class="navbar-brand" routerLink=><span class="fa fa-play icon-log"
                    aria-hidden="true"></span>
                DODO </a></h1>

        <!-- if logo is image enable this   
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <span class="fa icon-expand fa-bars"></span>
            <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">TV Shows</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive='active' [routerLink]="['/movies']">Movies</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"  [routerLink]="['/about']" >About</a>
              </li>
                
            </ul>

            <!--/search-right-->
            <!--/search-right-->
            <div class="search-right">
                <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Search <span
                        class="fa fa-search ml-3" aria-hidden="true"></span></a>
                <!-- search popup -->
                <div id="search" class="pop-overlay">
                    <div class="popup">
                        <form action="#" method="post" class="search-box">
                            <input type="search" placeholder="Search your Keyword" name="search"
                                required="required" autofocus="">
                            <button type="submit" class="btn"><span class="fa fa-search"
                                    aria-hidden="true"></span></button>
                        </form>
                        <div class="browse-items">
                            <h3 class="hny-title two mt-md-5 mt-4">Browse all:</h3>
                            <ul class="search-items">
                                <li><a href="genre.html">Action</a></li>
                                <li><a href="genre.html">Drama</a></li>
                                <li><a href="genre.html">Family</a></li>
                                <li><a href="genre.html">Thriller</a></li>
                                <li><a href="genre.html">Commedy</a></li>
                                <li><a href="genre.html">Romantic</a></li>
                                <li><a href="genre.html">Tv-Series</a></li>
                                <li><a href="genre.html">Horror</a></li>
                                <li><a href="genre.html">Action</a></li>
                                <li><a href="genre.html">Drama</a></li>
                                <li><a href="genre.html">Family</a></li>
                                <li><a href="genre.html">Thriller</a></li>
                                <li><a href="genre.html">Commedy</a></li>
                                <li><a href="genre.html">Romantic</a></li>
                      <label>Man on the moon is the way</label>
                                <li><a href="genre.html">Horror</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="close" href="#close">X</a>
                </div>
                <!-- /search popup -->
                <!--/search-right-->
            </div>


        </div>
        <!-- toggle switch for light and dark theme -->
      
        <!-- //toggle switch for light and dark theme -->
    </div>
</nav>
<!--//nav-->
</header>
<!-- //header -->
<!-- main-slider -->

<div class="clear" style="margin-bottom: 30px;"></div>

<!-- //banner-slider-->
<!-- main-slider -->
<!--grids-sec1-->
<section class="w3l-grids">
<div class="grids-main py-5">
    <div class="container py-lg-3">
        <div class="headerhny-title">
            <div class="w3l-title-grids">
                <div class="headerhny-left">
                    <h3 class="hny-title">New Movies</h3>
                </div>
                <div class="headerhny-right text-lg-right">
                    <h4><a class="show-title" href="genre.html">Show all</a></h4>
                </div>
            </div>
        </div>
        <div class="w3l-populohny-grids">
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m7.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Frozen 2</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
         
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Knives Out</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m4.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Little Women</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m5.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Jumanji</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--//grids-sec1-->
<!--grids-sec2-->
<section class="w3l-grids">
<div class="grids-main py-5">
    <div class="container py-lg-3">
        <div class="headerhny-title">
            <div class="w3l-title-grids">
                <div class="headerhny-left">
                    <h3 class="hny-title">Popular Movies</h3>
                </div>
                <div class="headerhny-right text-lg-right">
                    <h4><a class="show-title" href="genre.html">Show all</a></h4>
                </div>
            </div>
        </div>
        <div class="w3l-populohny-grids">
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m7.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Frozen 2</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
            <div class="box16">
                <a href="genre.html">
                    <figure>
                        <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                    </figure>
                    <div class="box-content">
                        <h3 class="title">Knives Out</h3>
                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                            </span>

                            <span class="post fa fa-heart text-right"></span>
                        </h4>
                    </div>
                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="item vhny-grid">
            <div class="box16">
                <a href="genre.html">
                    <figure>
                        <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                    </figure>
                    <div class="box-content">
                        <h3 class="title">Knives Out</h3>
                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                            </span>

                            <span class="post fa fa-heart text-right"></span>
                        </h4>
                    </div>
                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="item vhny-grid">
            <div class="box16">
                <a href="genre.html">
                    <figure>
                        <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                    </figure>
                    <div class="box-content">
                        <h3 class="title">Knives Out</h3>
                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                            </span>

                            <span class="post fa fa-heart text-right"></span>
                        </h4>
                    </div>
                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="item vhny-grid">
            <div class="box16">
                <a href="genre.html">
                    <figure>
                        <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                    </figure>
                    <div class="box-content">
                        <h3 class="title">Knives Out</h3>
                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                            </span>

                            <span class="post fa fa-heart text-right"></span>
                        </h4>
                    </div>
                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m4.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Little Women</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m5.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Jumanji</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
      </div>
    </div>

</div>
</section>
<!--grids-sec2-->

<!--/tabs-->
<!--grids-sec2-->
<section class="w3l-grids">
  <div class="grids-main py-5">
      <div class="container py-lg-3">
          <div class="headerhny-title">
              <div class="w3l-title-grids">   
                  <div class="headerhny-left">
                      <h3 class="hny-title">Upcoming Movies</h3>
                  </div>
                  <div class="headerhny-right text-lg-right">
                      <h4><a class="show-title" href="genre.html">Show all</a></h4>
                  </div>
              </div>
          </div>
          <div class="w3l-populohny-grids">
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m7.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Frozen 2</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Knives Out</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
          <div class="item vhny-grid">
              <div class="box16">
                  <a href="genre.html">
                      <figure>
                          <img class="img-fluid" src="assets/images/m3.jpg" alt="">
                      </figure>
                      <div class="box-content">
                          <h3 class="title">Knives Out</h3>
                          <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                              </span>

                              <span class="post fa fa-heart text-right"></span>
                          </h4>
                      </div>
                      <span class="fa fa-play video-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m4.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Little Women</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="item vhny-grid">
                <div class="box16">
                    <a href="genre.html">
                        <figure>
                            <img class="img-fluid" src="assets/images/m5.jpg" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Jumanji</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                </span>

                                <span class="post fa fa-heart text-right"></span>
                            </h4>
                        </div>
                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
      </div>

  </div>
</section>

<!-- /move top -->

<!--grids-sec2-->
<!-- //tabs-->

</ion-content>
