<ion-header collapse="fade" [translucent]="true">
	<ion-toolbar>
	  <ion-title class="ion-text-center" color="primary">
		RIPEDODO
	  </ion-title>
	  
	</ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
  <div class="cs cs-text">
	<strong><h1>Saved for Later</h1></strong>
  </div>
	<ion-grid>
  
   
	  <ion-row class="ion-align-items-center">
		<ion-col size="4"  class="fig-col" *ngFor="let ark of Darks" [routerLink]="['/', 'movie', ark._id]">
		  <figure>
			<img class="img-fig"  [src]="ark.movieposter" *ngIf="ark.movieposter != 'N/A'"alt="" loading="lazy">
			<!-- <figcaption class="img-figcaption">{{genre.movietitle}}</figcaption> -->
		  </figure>
		  <p></p>
		</ion-col>
		
	  </ion-row>
	  
	</ion-grid>
	
	
	</ion-content>