<ion-header collapse="fade" [translucent]="true" >
  <ion-toolbar style="background-color:rgb(0, 0, 0) !important;" >
    <ion-fab vertical="top" horizontal="start">
      <ion-fab-button [routerLink]="['/home']" id="b-btn" routerDirection="backward" >
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>
<ion-content>
 
<div class="container">


  <span *ngIf="information">
  <div class="row" >
    <div class="col-12">
      <img class="info_img"[src]="information.movieposter"   alt="">
    </div>

  </div>
  <div class="row cov" >
    <div class="col " >
      <div class="col-12 " *ngIf="information.movietype === 'movie'" style="text-align:center; margin-top: 30px;" >
        <ion-button shape="round" (click)="testVideoPlayerPlugin('mp4')">
          <ion-icon slot="start" name="play-outline" ></ion-icon>
          PLAY
        </ion-button>
      </div>
    </div>
    <!-- <div class="col " >
      <div class="col-12 " style="text-align:center; margin-top: 30px;" >
        <ion-button shape="round"  fill="outline" (click)="onWatchLater()" >
          <ion-icon slot="start" name="add-outline" ></ion-icon>
          Watch Later
        </ion-button>
      </div>
    </div> -->
    
  </div>
  <div class="row" >
    <div class="col-12 " >
      <h1 class="movietitle">{{information.movietitle}}</h1>
    </div>
  </div>
  <div class="row " >
    <div class="col-12 " style="text-align:center">
      <ion-chip color="primary">{{information.moviegenre}}</ion-chip>

      <ion-chip [outline]="true"  color="primary">{{information.movieruntime}}</ion-chip>
      <ion-chip [outline]="true" color="primary">HD</ion-chip>
    
    </div>
  </div>
  <div class="row " >
    <div class="col-12 plotsummary" >
      <h4 class="plotdesc">Plot Summary</h4>
      <h1 class="movieplot">{{information.movieplot}}</h1>
    </div>
  </div>
  
</span>
</div>


</ion-content>