<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;"> RIPEDODO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>

  <ion-card *ngIf="information">
    <img [src]="information.movieposter"  style="width: 100%; height: 400px;"/>
    <ion-card-header>
      <ion-card-title>{{information.movietitle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ information.movieplot }}
    </ion-card-content>
  </ion-card>
</ion-content>
