* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
  }
  
  img {
    max-width: 100%;
  }

  ion-content{
    --background: #444;

  }
  .info_img{
    width: 100%;border-radius: 10px; height: 400px;
    margin-top:10px;
  }
  
  .cov{
    position: absolute;
    background-color: #444;
    height: 100px;
    width: 100%;
    top: 315px;
  }
 
  .movietitle{
    color: white;
    font-family:verdana;
    text-align:center;
    font-size: 25px;
    padding-top: 10px;
    font-weight: bolder;
    text-transform: uppercase;

  }

  .movieplot{
    text-align: justify;
    font-size: 12px;
    font-family:verdana;
    color: white;
    opacity: 0.8;

  }

  .plotdesc{
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  ion-chip {
    --background: #00213f;
    --color: #adefd1;
  }
  ion-icon{
    --padding-top:20px;
  
  }

  
  // @media  screen (min-width:769px) {
    
  // }